<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home</title>
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">JPA Crud</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Admin Panel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/Add">Add</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container bg-dark mt-5 mb-5">
    <div class="row">
        <div class="col-8 m-auto">
            <h1 class="display-6" style="color: wheat;">Update note</h1>

            <p class="lead" style="color: white;">
                Your note's ID is: <b th:text="${idNote.getId()}"></b>
            </p>
            <form action="/Update/Up" method="POST">
                <input type="text" class="form-control mb-2" name="getnid" placeholder="ID"
                       th:value="${idNote.getId()}">
                <textarea name="upupNote" class="form-control" placeholder="Note..." id="floatingTextarea2"
                          style="height: 200px" th:text="${idNote.getNote()}"></textarea>
                <button type="submit" class="btn btn-primary mt-2 float-lg-end">Update</button>
            </form>

        </div>

        <div class="col-8 mt-2 m-auto">
            <form action="/Update/Del" method="POST">

                <input type="text" class="form-control mb-2 mt-2" name="getnid" placeholder="ID"
                       th:value="${idNote.getId()}">
                <button type="submit" class="btn btn-danger me-2 mt-2 float-lg-end">Delete</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>